LUZMO_API_KEY="your_api_key_here"
LUZMO_API_TOKEN="your_api_token_here"
LUZMO_DASHBOARD_ID_1="your_first_dashboard_id_here"
LUZMO_DASHBOARD_ID_2="your_second_dashboard_id_here"
# Optional for 'embed' type authorization
LUZMO_INTEGRATION_ID="your_integration_id_here"
PORT=3500
